<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.parent.service.mapper.ChildMapper">
    <resultMap id="ChildResultMap" type="com.child.common.entity.po.Child">
        <id column="user_id" property="childId"/>
        <result column="child_name" property="childName"/>
        <result column="sex" property="sex"/>
        <result column="family_id" property="familyId"/>
        <result column="idnumber" property="idNumber"/>
        <result column="chinesewordcount" property="chineseWordCount"/>
        <result column="englishwordcount" property="englishWordCount"/>
        <result column="poetrycount" property="poetryCount"/>
        <result column="birthdate" property="birthDate"/>
        <result column="record_date" property="recordDate"/>
        <result column="age" property="age"/>
        <result column="head_circ" property="headCirc"/>
        <result column="weight" property="weight"/>
        <result column="height" property="height"/>
    </resultMap>

    <update id="update" parameterType="com.child.common.entity.po.Child">
        UPDATE child_info
        <set>
            <if test="chineseWordCount != null">
                chinesewordcount = #{chineseWordCount},
            </if>
            <if test="englishWordCount != null">
                englishwordcount = #{englishWordCount},
            </if>
            <if test="poetryCount != null">
                poetrycount = #{poetryCount},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="birthDate != null">
                birthdate = #{birthDate},
            </if>
            <if test="recordDate != null">
                record_date = #{recordDate},
            </if>
            <if test="headCirc != null">
                head_circ = #{headCirc},
            </if>
            <if test="weight != null">
                weight = #{weight},
            </if>
            <if test="height != null">
                height = #{height},
            </if>
        </set>
        where child_id = #{childId}
    </update>

    <select id="selectAvailableExamination" resultType="com.child.common.entity.po.Examination">
        SELECT *
        FROM personal_examination_record e1
        WHERE
            #{now} &lt; e1.start_time
          AND #{now} &lt; e1.end_time
          AND e1.child_id IS NULL
          AND e1.isChecked IS NULL
          AND NOT EXISTS (
            SELECT 1
            FROM personal_examination_record e2
            WHERE e2.start_time = e1.start_time
              AND e2.child_id IS NOT NULL
        )
    </select>

    <update id="updateFood">
        UPDATE daily_time
        SET time = #{time},
            food = #{food},
            sleep_time = NULL
        WHERE child_id = #{childId}
          AND DATE_FORMAT(record_time, '%Y-%m-%d %H:%i:%s') = #{recordTime}
    </update>

    <update id="updateSleep">
        UPDATE daily_time
        SET time = #{time},
            sleep_time = #{sleepTime},
            food = NULL
        WHERE child_id = #{childId}
          AND DATE_FORMAT(record_time, '%Y-%m-%d %H:%i:%s') = #{recordTime}
    </update>

</mapper>