<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.parent.service.mapper.MessageBoardExpertMapper">
    <resultMap id="UserResultMap" type="com.child.common.entity.po.MessageBoardExpert">
        <id property="boardId" column="board_id"/>
        <result property="isFinished" column="is_finished"/>
        <result property="messageCount" column="message_count"/>
        <result property="expertId" column="expert_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <insert id="insertMessageBoardExpert" parameterType="com.child.common.entity.po.MessageBoardExpert">
        insert into message_board_expert
        <set>
            <if test="boardId != null">
                board_id = #{boardId},
            </if>
            <if test="isFinished != null">
                is_finished = #{isFinished},
            </if>
            <if test="messageCount != null">
                message_count = #{messageCount},
            </if>
            <if test="expertId != null">
                expert_id = #{expertId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
        </set>
    </insert>
</mapper>