<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.expert.service.mapper.DoctorMapper">
    <resultMap id="DoctorResultMap" type="com.expert.service.entity.po.doctor.DoctorInfo">
        <id column="doctor_id" property="doctorId"/>
        <result column="doctor_name" property="doctorName"/>
        <result column="doctor_phone" property="doctorPhone"/>
        <result column="doctor_email" property="doctorEmail"/>
        <result column="hospital_location" property="hospitalLocation"/>
    </resultMap>

    <update id="updateDoctorInfo" parameterType="com.expert.service.entity.po.doctor.DoctorInfo">
        UPDATE doctor_info
        <set>
            <if test="doctorName != null and doctorName != ''">
                doctor_name = #{doctorName},
            </if>
            <if test="doctorPhone != null and doctorPhone != ''">
                doctor_phone = #{doctorPhone},
            </if>
            <if test="doctorEmail != null and doctorEmail != ''">
                doctor_email = #{doctorEmail},
            </if>
            <if test="hospitalLocation != null and hospitalLocation != ''">
                hospital_location = #{hospitalLocation},
            </if>
        </set>
        WHERE doctor_id = #{doctorId}
    </update>


</mapper>